// Screen Sizes
$phoneEnd: 640px;
$tabletStart: 641px;
$tabletEnd: 920px;
$smScreenStart: 921px;
$smScreenEnd: 1100px;
$mdScreenStart: 1101px;
$mdScreenEnd: 1400px;
$lgScreenStart: 1401px;

// Configs
$screen: 'only screen' !default;
$landscape: '#{$screen} and (orientation: landscape)' !default;
$portrait: '#{$screen} and (orientation: portrait)' !default;

$bpPhoneUp: $screen !default;
$bpPhoneOnly: '#{$screen} and (max-width: #{phoneEnd})' !default;

$bpTabletUp: '#{$screen} and (min-width:#{$tabletStart})' !default;
$bpTabletOnly: '#{$screen} and (min-width:#{$tabletStart}) and (max-width:#{$tabletEnd})' !default;

$bpSmScreenUp: '#{$screen} and (min-width:#{$smScreenStart})' !default;
$bpSmScreenOnly: '#{$screen} and (min-width:#{$smScreenStart}) and (max-width:#{$smScreenEnd})' !default;

$bpMdScreenUp: '#{$screen} and (min-width:#{$mdScreenStart})' !default;
$bpMdScreenOnly: '#{$screen} and (min-width:#{$mdScreenStart}) and (max-width:#{$mdScreenEnd})' !default;

$bpLgScreenUp: '#{$screen} and (min-width:#{$lgScreenStart})' !default;
